* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  display: flex;
  padding: 10px;
  background-color: #eda569;
  color: white;
  font-family: "Poppins", Times, Serif;
  justify-content: center;
}

.top ul {
  display: flex;
  list-style-type: none;
}

.top li {
  margin: 0 25px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 35px;
  justify-content: space-evenly;
}

.navbar nav ul {
  display: flex;
  font-family: "Poppins", Times, Serif;
  list-style-type: none;
}

.navbar nav a {
  text-decoration: none;
  margin-right: 50px;
  color: #272727;
  padding: 7px;
  transition: 0.3s ease all;
}

.navbar nav a:hover {
  background-color: #fcbd24;
  color: white;
}

.icons img {
  margin-right: 25px;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url(./imgs/banner/full-banner.png);
  background-size: auto;
  height: 700px;
}

.favorites {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Times, Serif;
  align-items: center;
  padding: 20px;
  margin: 30px 0;
}

.favorites h3 {
  font-size: 30px;
  font-weight: 400;
  padding: 5px;
}

.favorites p {
  color: #777777;
  font-size: 14px;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: center;
}
.col-3 {
  padding: 12px;
  font-family: "Poppins", Times, Serif;
  text-align: center;
}

.mini-container {
  display: flex;
  justify-content: center;
}

.img-01 {
  margin-right: 25px;
}

.col-3 .product-name {
  color: #777777;
  font-size: 15px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.img-rate {
  margin-bottom: 7px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price p {
  margin-right: 17px;
  margin-bottom: 7px;
}

.price-main {
  font-weight: 600;
  font-size: 17px;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
  color: #777777;
  font-weight: 500;
}

.buy-button {
  margin-top: 15px;
  padding: 12px 50px;
  background-color: #ef6b00;
  color: white;
  border-style: none;
  font-family: "Poppins", Times, Serif;
  border-radius: 25px;
  font-size: 15px;
}

.exclusives {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Times, Serif;
  align-items: center;
  padding: 20px;
  margin: 30px 0 0px 0;
}

.exclusives h3 {
  font-size: 30px;
  font-weight: 400;
  padding: 5px;
  justify-content: center;
}

.exclusives span {
  font-weight: 500;
}

/* --- botões do carrossel --- */
.botoes-carousel {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  
}

.botoes-carousel button {
  padding: 3px 21px;
  margin-right: 10px;
  background-color: #efefef;
  border-style: none;
  margin-bottom: 10px;
  
}

.botoes-carousel button:hover {
  background-color: black;
}

/* --- produtos do carrossel (4 por vez) --- */

.col-4 {
  padding: 4px;
  font-family: "Poppins", Times, Serif;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
}

.footer-banner {
    margin: 170px 0 100px 0;
    display: flex;
    justify-content: center;    
}

.footer-banner img {
    padding: 15px;
}

.best-sellers {
    background-color: #F7F4F0;
    
}

.top-sellers {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Times, Serif;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.top-sellers h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 5px;
    justify-content: center;
}

.botoes-best {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
  }
  
  .botoes-best button {
    padding: 3px 21px;
    margin-right: 10px;
    background-color:white;
    border-style: none;
    margin-bottom: 10px;
    
  }
  
  .botoes-best button:hover {
    background-color: black;
  }

  .footer-logo {
      display: flex;
      justify-content: center;
      margin-top: 15px;
  }

  .container-footer {
      display: flex;
  }
    
  .institucional, .atendimento {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .institucional, .atendimento ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}



